[submodule "c/libraries/rlottie"]
	path = c/libraries/rlottie
	url = https://github.com/fredhappyface/rlottie
[submodule "c/libraries/libwebp"]
	path = c/libraries/libwebp
	url = https://github.com/webmproject/libwebp
